
.clearfix {
   //zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.bce-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.bce-header
{
   z-index: 1;
}

.bce-hmenu>li, .bce-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.bce-hmenu, ul.bce-hmenu ul {
  // zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
ul.bce-hmenu>li:first-child {
   padding-right:11px;
}
ul.bce-hmenu>li{
  // zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('span'),firstChild).className='bce-hmenu-separator');
}
ul.bce-hmenu>li>span.bce-hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -11px;
   width: 11px;
   height: 29px;
   background: url('../images/menuseparator.png') center center no-repeat;
}
ul.bce-hmenu>li:first-child>span.bce-hmenu-separator
{
   display:none;
}

ul.bce-hmenu ul{
   background-color: #FFEB04 !important;
}
.bce-content-layout, .bce-content-layout-row, .bce-layout-cell 
{
   display: block;
   zoom: 1;
}
.bce-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

ul.bce-vmenu, ul.bce-vmenu ul, ul.bce-vmenu li{
   zoom: 1;
}

ul.bce-vmenu ul 
{
}

input[type="text"]
{
   margin:0 0 0 -3px;
  // zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.bce-search>input[type="text"]
{
   margin:0 0 0 -3px;
   //zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.bce-search div>input[type="text"]
{
   width: 100%;
}

* html form.bce-search>input[type="text"] 
{
   margin :0;
}

.bce-postmetadataheader{
   zoom:1;
}

.bce-postheadericons span{
   zoom: 1;
}
.bce-postcontent {
   height: 1%;
}

.bce-postmetadatafooter{
   zoom:1;
}

.bce-postfootericons span{
   zoom: 1;
}
.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.bce-sidebar1
{
   background: none !important;
   border: none !important;
  // zoom:expression(runtimeStyle.zoom=1, parentNode.parentNode.insertBefore(document.createElement('div'),parentNode.parentNode.firstChild).className='bce-sidebar1-bg' + (className.indexOf('bce-sidebar1-fix') == -1 ? '' : ' bce-sidebar1-bg-fix' ));
}

.bce-sidebar1-bg 
{
   border-right:1px solid #FF8593;
   position:absolute;
   z-index:-2;
   direction: ltr;
   left:  0;
   bottom:0;
   top:0;
   width: 200px;
   overflow:hidden;
   display:block;
}

.bce-content 
{
   width: auto;
   float:none;
}

